


    <div class="col-sm-12 downbanner">
      <div class="col-sm-12  set-down-bannerimage">
        <a routerLink="">
          <img src="assets/images/makemobiles.png" width="80%" height="260px" alt="services-image" class="">
        </a>
      </div>
    </div>

    <footer class="container">
        <div class="row">
      
    <div class="col-xs-8" style="margin-top: 30px">
      <div class="col-xs-1">
       <a routerLink="">
          <img src="./assets/images/Screenshot from 2018-06-10 22-42-50.png" />
       </a>
      </div>
      <div class="col-xs-3  margin">
        <div>
          <a routerLink="#">Locations Map</a>
        </div>
        <div>
          <a routerLink="#">Popular searches</a>
        </div>
        <div>
          <a routerLink="#">Archive</a>
        </div>
        <div>
          <a routerLink="#">Sitemap</a>
        </div>
        <div>
          <a routerLink="#">Featured Ads</a>
        </div>
      </div>
      <div class="col-xs-2">
        <div>
          <a routerLink="#">Terms of Use</a>
        </div>
        <div>
          <a routerLink="#">Locations Map</a>
        </div>
      </div>
      <div class="col-xs-2">
        <div>
          <a routerLink="#"> Who we are</a>
        </div>
        <div>
          <a routerLink="#"> Join OLX</a>
        </div>
        <div>
          <a routerLink="#"> Happy OLXers</a>
        </div>
      </div>
    </div>

    <div class="col-xs-4" style="margin-top: 30px">
      <div class="mar"> Connect with us</div>

      <ul class="nav navbar-nav ">
        <li class="pad">
         <a href="https://www.facebook.com" target="_new">
            <img src="./assets/images/Screenshot from 2018-06-10 22-43-17.png" />
         </a>
        </li>
        <li class="pad">
         <a href="https://plus.google.com/" target="_new">
            <img src="./assets/images/Screenshot from 2018-06-10 22-43-59.png" />
         </a>
        </li>
        <li class="pad">
          <a href="https://twitter.com" target="_new">
              <img src="./assets/images/Screenshot from 2018-06-10 22-44-17.png" />
          </a>
        </li>
        <li class="pad">
         <a href="https://www.instagram.com" target="_new">
            <img src="./assets/images/Screenshot from 2018-06-10 22-44-43.png" />
         </a>
        </li>

      </ul>

    </div>

  </div>
</footer>