<div class="panel panel-default">
  <div class="panel-body">

    <a routerLink='/india' class="anchor">
      <img src="./assets/images/jobs/map-marker.svg" width="2%" style="padding-bottom: 7px">
      <b style="font-size: 18px">All India</b>
      <small>(Select your city to see local ads)</small>
    </a>
  </div>
</div>
<div class="col-sm-12 line">
  <img src="./assets/images/properties/properties.png" class="col-sm-2">
  <span class="col-sm-10">
    <p class="size">Properties</p>
    1,78,016 Ads
    <br>
    <a routerLink='null'>View all Ads <span> >> </span> </a>
  </span>
</div>
<div class="col-sm-12" style="padding-top: 30px">
  <div class="col-sm-2 box text-center">


    <a routerLink=''>
      <img src="./assets/images/properties/sale.png">
      <br> For Sale</a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/properties/rent.png">
      <br> For Rent</a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/properties/projects.png">
      <br>New Projects</a>
  </div>
  <div class="clearfix"></div>


</div>
<div class="clearfix"></div>
