<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container" >
<nav class="col-xs-12 nav-settings">
 
   <div class="col-xs-6 text-right">
     <div class="col-xs-2">
       <a routerLink="">
         <img src="assets/images/olxlogo2.PNG" alt="olx image">
       </a>
     </div>
     <div class="col-xs-10  matter-setting">
       <span>India's Largest Marketplace</span>
     </div>
   </div>

   <div class="col-xs-6">
     <div class="col-xs-5 lang-selector small">
       <span class="marginslanguage">Select language</span>
       <ul class="set-ul">
         <li class="set-list">
           <span>English</span>
         </li>
         <li class="set-list">
           <span>
             <a href="">हिंदी</a>
           </span>
         </li>
       </ul>
     </div>

     <div class="col-xs-8  addingaccount">
       <ul class="adding-account">
         <li>
           <a routerLink="/signup">
               <i class="fa fa-user"></i>
           </a>
         </li>
         <li>
           <a routerLink="/login">
             MyAccount
           </a>
         </li>
         <li >
           <!-- <button  class="submitfreeadd"> Submit a Free Ad</button> -->
           <a type="button" class="btn btn-primary btn-lg" routerLink="/submit-ad"  routerLinkActive="submit-btn">Submit a Free Ad</a>
         </li>
       </ul>
     </div>
     <div class="clear"></div>
   </div>
 </nav>
 </div>
