
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
  }

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    top: 80px;
    padding: 20px 25px 30px;
    margin: 5px auto 25px;
    }

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
    }
.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {

    margin-bottom: 10px;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    border-radius: 3px;
    border: none;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.register{
    color: rgb(104, 145, 162);
    padding-left: 75px;
}


.main-container{
/* background-image: url('../../assets/images/loginbg.jpg'); */
background-repeat: no-repeat;
/* width:80%;
height:70%; */
}
.btn-facebook{
margin-top:20px;
background-color: #4e6cab;

}
.btn-google{
    margin-top:20px;
    background-color: #dd4b39;
}
.btn > a{
    color:#fff;
    text-decoration: none;
}
a{
    text-decoration: none;
}
