<section >
  <div class="conatiner">
    <div class="row">
      <div class="adSubmitForm">
        <form class="form-inline" (ngSubmit)="onSubmit(f)" #f='ngForm'>
          <h4>Submit a Free Classified Ad</h4>
          <div class="customwidth form-group active">
            <label for="title" class="font-wt">Ad Title
              <span class="important-mark">
                *
              </span>
            </label>

            <input type="text" class="form-control" id="title" maxlength="70" (keyup)="counttitle(msg)" name="title" [(ngModel)]="log.title" #title="ngModel">
            <p class="char-length-msg">
              <b>{{charactersleft}}</b> characters left</p>
            <div [hidden]="title.dirty || title.untouched" class=" alert-info">This field is manditory please enter title</div>

          </div>

          <div class="categorywidth form-group" (click)="openModal(template)">
            <label class="font-wt">Category
              <span class="important-mark">
                *
              </span>
            </label>

            <input type="text" class="form-control" id="category" name="category" [(ngModel)]="log.category" #category="ngModel">

            <label for="categories">
              <img src="/assets/images/category-icon.png" id="categories">
            </label>
            <div [hidden]="category.dirty || category.untouched" class=" alert-info">This field is manditory please enter category</div>

          </div>
          <div class="form-group pricewidth">
              <label class="font-wt">Price
                  <span class="important-mark">
                    *
                  </span>
                </label>
            <input type="text" class="form-control" [(ngModel)]="log.price">
          </div><br>
          <div class="adDescription">
            <label class="font-wt">Ad Description
              <span class="important-mark">
                *
              </span>
            </label>
            <textarea class="form-control" name="description" maxlength="4096" (keyup)="count(msg)" placeholder="Include the brand,model,age and any included accessories"
              [(ngModel)]="log.description" #description="ngModel"></textarea>


            <p class="char-length-msg">
              <b>{{characterleft}}
              </b> characters left</p>
            <div [hidden]="description.dirty || description.untouched" class=" alert-info">This field is manditory please enter description</div>

          </div>
          <div class="row img-section">
            <div class="gallery col-xs-12">
              <div class="left-label col-xs-3">
                <label for="photos">Upload Photos</label>
                <small>Ads with photos sell faster</small>
                <span class="icon"></span>
                <img src="/assets/images/gallery.png">

              </div>
              <div class="photo-upload col-xs-9">
                <div class="shade">
                  <label for='plus' class="box">
                    <span>+</span>
                  </label>
                  <input type="file" id="plus" style="display:none">
                </div>
                <div class="shade">
                  <label for='plus' class="box">
                    <span>+</span>
                  </label>
                  <input type="file" id="plus" style="display:none">
                </div>
                <div class="shade">
                  <label for='plus' class="box">
                    <span>+</span>
                  </label>
                  <input type="file" id="plus" style="display:none">
                </div>
                <div class="shade">
                  <label for='plus' class="box">
                    <span>+</span>
                  </label>
                  <input type="file" id="plus" style="display:none">
                </div>

              </div>

            </div>
            <div>
              <p id="show-text">If you have problems with flash please use
                <a href="#">simpler form</a>
              </p>
            </div>
          </div>
          <div class="details">
            <div class="form-group col-sm-offset-2 col-sm-10 nameinput">
              <label for="name">Name
                <span class="important-mark">
                  *
                </span>
              </label>
              <input [(ngModel)]="log.name" #name='ngModel' name="fullname" id="name" type="text" class="form-control">
              <div [hidden]="name.dirty || name.untouched" class=" alert-info">This field is manditory please enter name</div>

            </div>
            <div class="form-group col-sm-offset-1 col-sm-10 phninput">
              <label for="phnnum">Phone Number
                <span class="important-mark">
                  *
                </span>
              </label>
              <input [(ngModel)]="log.mobile" #mobile='ngModel' name="phonenmber" id="phnnum" type="text" class="form-control">
              <div [hidden]="mobile.dirty || mobile.untouched" class=" alert-info">This field is manditory please mobile number</div>

            </div>
            <div class="form-group col-sm-offset-1 col-sm-10 cityinput">
              <label for="city">Enter a city
                <span class="important-mark">
                  *
                </span>
              </label>
              <input [(ngModel)]="log.city" #city='ngModel' name="cityname" id="city" type="text" class="form-control">
              <div [hidden]="city.dirty || city.untouched" class=" alert-info">This field is manditory please enter the city</div>

            </div>

            <!-- 
            <div class="form-group col-sm-offset-1 col-sm-10 phninput">
              <label for="phnnum">Phone Number
                <span class="important-mark">
                  *
                </span>
              </label>
              <span class="contrycode">+91
              </span>
              <input id="phnnum" type="text" class="form-control" [(ngModel)]="log.phnnum" #phnnum1='ngModel'>
              <div [hidden]="phnnum.dirty || phnnum.untouched" class="alert-info">This field is manditory please enter mobile number</div>
              
            </div>
            
        

            <div class="form-group col-sm-offset-1 col-sm-10 cityinput">
              <label for="city">Enter a city
                <span class="important-mark">
                  *
                </span>
              </label>
              <input id="city" type="text" class="form-control" [(ngModel)]="log.city" #city1='ngModel'>
              <div [hidden]="city.dirty || city.untouched" class=" alert-info">This field is manditory please enter city</div>
              
            </div> -->

            <div class="col-sm-12 borderbot  text-center">
              <p class="padding10">
                By clicking 'Submit' you agree to our
                <a href="#">Terms of Use </a>&
                <a>Posting Rules</a>
              </p>
            </div>

          </div>
          <div class="clearfix"></div>
          <div class="submitbtn">
            <button class="btn btn-default pull-right">Submit</button>
          </div>


        </form>



      </div>
    </div>
  </div>

  <!-- <div class="helpbox">
    <button class="btn btn-primary">
      <b>Need help?</b>
    </button>
    <div class="helpbox-text text-center" *ngIf="show">
      <p>Need help?</p>
      <p>
        <b>call us at</b>
      </p>
      <span>
        <a href="tel:1800-103-3333" id="callTollFree">1800-103-3333</a>
      </span>
      <p>(10am - 7pm all 7 days)</p>
    </div>


  </div> -->


  <accordion class="helpbox">
    <accordion-group heading="Need help?" [isOpen]="toggleOpen">
      <div class="helpbox-text text-center">
        <p>Need help?</p>
        <p>
          <b>call us at</b>
        </p>
        <span>
          <a href="tel:1800-103-3333" id="callTollFree">1800-103-3333</a>
        </span>
        <p>(10am - 7pm all 7 days)</p>
      </div>
    </accordion-group>
  </accordion>

</section>


<ng-template #template>
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title pull-left">Select category</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <div class="col-xs-12">
        <div class="col-xs-2 marg-bot" (click)="openModal2(templateNested)" (click)="clickedOne('Properties')">
          <a routerLinkActive="active-link" routerLink='null'>
            <div>
              <img src="assets/images/home.png" width="60%" alt="home-image">
            </div>
            <div (click)="printdata(x)">
              <span>Properties</span>
            </div>
          </a>
        </div>
        <div class="col-xs-2 marg-bot" (click)="openModal2(templateNested)" (click)="clickedOne('cars')">
          <a routerLinkActive="active-link" routerLink="null">
            <div>
              <img src="assets/images/car.png" width="60%" alt="car-image">
            </div>
            <div>
              <span>Cars</span>
            </div>
          </a>
        </div>
        <div class="col-xs-2 marg-bot" (click)="openModal2(templateNested)" (click)="clickedOne('electronics')">
          <a routerLinkActive="active-link" routerLink="#">
            <div>
              <img src="assets/images/electronics.png" width="60%" alt="electronics-image">
            </div>
            <div>
              <span>Electronics & Applicances</span>
            </div>
          </a>
        </div>
        <div class="col-xs-2 marg-bot" (click)="openModal2(templateNested)" (click)="clickedOne('furniture')">
          <a routerLinkActive="active-link" routerLink="#">
            <div>
              <img src="assets/images/furniture.png" width="60%" alt="furniture-image">
            </div>
            <div>
              <span>Furniture</span>
            </div>
          </a>
        </div>
        <div class="col-xs-2 marg-bot" (click)="openModal2(templateNested)" (click)="clickedOne('jobs')">
          <a routerLinkActive="active-link" routerLink="#">
            <div>
              <img src="assets/images/jobs.png" width="60%" alt="job-image">
            </div>
            <div>
              <span>Jobs</span>
            </div>
          </a>
        </div>
        <div class="col-xs-2 marg-bot" (click)="openModal2(templateNested)" (click)="clickedOne('mobiles')">
          <a routerLinkActive="active-link" routerLink="#">
            <div>
              <img src="assets/images/mobiles.png" width="60%" alt="mobiles-image">
            </div>
            <div>
              <span>Mobiles</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-2 marg-bot" (click)="openModal2(templateNested)" (click)="clickedOne('bikes')">
          <a routerLinkActive="active-link" routerLink="#">
            <div>
              <img src="assets/images/bikes.png" width="60%" alt="bikes-image">
            </div>
            <div>
              <span>Bikes</span>
            </div>
          </a>
        </div>
        <div class="col-xs-2 marg-bot" (click)="openModal2(templateNested)" (click)="clickedOne('books')">
          <a routerLinkActive="active-link" routerLink="#">
            <div>
              <img src="assets/images/books-sports.png" width="60%" alt="books-image">
            </div>
            <div>
              <span>Books,Sports & Hobbies</span>
            </div>
          </a>
        </div>
        <div class="col-xs-2 marg-bot" (click)="openModal2(templateNested)" (click)="clickedOne('fashion')">
          <a routerLinkActive="active-link" routerLink="#">
            <div>
              <img src="assets/images/fashion.png" width="60%" alt="fashion-image">
            </div>
            <div>
              <span>Fashion</span>
            </div>
          </a>
        </div>
        <div class="col-xs-2 marg-bot" (click)="openModal2(templateNested)" (click)="clickedOne('pets')">
          <a routerLinkActive="active-link" routerLink="#">
            <div>
              <img src="assets/images/pets.png" width="60%" alt="pets-image">
            </div>
            <div>
              <span>Pets</span>
            </div>
          </a>
        </div>
        <div class="col-xs-2 marg-bot" (click)="openModal2(templateNested)" (click)="clickedOne('services')">
          <a routerLinkActive="active-link" routerLink="#">
            <div>
              <img src="assets/images/services.png" width="60%" alt="services-image">
            </div>
            <div>
              <span>Services</span>
            </div>
          </a>
        </div>
      </div>
      <!-- <mat-tab-group>
        <mat-tab label="Tab 1">Content 1</mat-tab>
        <mat-tab label="Tab 2">Content 2</mat-tab>
      </mat-tab-group> -->
    </div>
  </div>
</ng-template>


<ng-template #templateNested>
  <div class="modal-content">

    <div class="modal-body col-sm-12">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="col-sm-4 sidebar">

        <ul class="nav nav-sidebar">

          <li>
            <b>Category</b>
          </li>
          <br>

          <li class="nohover">
            <a routerLinkActive="active-link" routerLink='#' (click)="clickedOne('Properties')">Properties
              <span> > </span>
            </a>
          </li>

          <li class="nohover">
            <a routerLinkActive="active-link" routerLink='#' (click)="clickedOne('cars')">Cars
              <span> > </span>
            </a>
          </li>
          <li class="nohover">
            <a routerLinkActive="active-link" routerLink='#' (click)="clickedOne('electronics')">Electronics-Appliances
              <span> > </span>
            </a>
          </li>
          <li class="nohover">
            <a routerLinkActive="active-link" routerLink='#' (click)="clickedOne('furniture')">Furniture
              <span> > </span>
            </a>
          </li>
          <li class="nohover">
            <a routerLinkActive="active-link" routerLink='#' (click)="clickedOne('jobs')">Jobs
              <span> > </span>
            </a>
          </li>
          <li class="nohover">
            <a routerLinkActive="active-link" routerLink='#' (click)="clickedOne('mobiles')">Mobiles
              <span> > </span>
            </a>
          </li>
          <li class="nohover">
            <a routerLinkActive="active-link" routerLink='#' (click)="clickedOne('bikes')">Bikes
              <span> > </span>
            </a>
          </li>
          <li class="nohover">
            <a routerLinkActive="active-link" routerLink='#' (click)="clickedOne('books')">Books,Sports & Hobbies
              <span> > </span>
            </a>
          </li>
          <li class="nohover">
            <a routerLinkActive="active-link" routerLink='#' (click)="clickedOne('fashion')">Fashion
              <span> > </span>
            </a>
          </li>
          <li class="nohover">
            <a routerLinkActive="active-link" routerLink='#' (click)="clickedOne('pets')">Pets
              <span> > </span>
            </a>
          </li>
          <li class="nohover">
            <a routerLinkActive="active-link" routerLink='#' (click)="clickedOne('services')">Services
              <span> > </span>
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="show1 == 'Properties'">

        <div class="col-sm-4 sidebar">

          <ul class="nav nav-sidebar">
            <li>
              <b>Properties</b>
            </li>
            <br>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#' (click)="clicked('Sale')">
                For Sale
                <span> > </span>
              </a>
            </li>

            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#' (click)="clicked('Rent')">For Rent
                <span> > </span>
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#' (click)="clicked('Projects')">New Projects
                <span> > </span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="show1 == 'cars'">

        <div class="col-sm-4 sidebar">

          <ul class="nav nav-sidebar">
            <li>
              <b>Cars</b>
            </li>
            <br>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#' (click)="clicked('Vehicles')">
                Cars
                <span> > </span>
              </a>
            </li>

            <li class="nohover" (click)="clickedTwo($event)">
              <a routerLinkActive="active-link" routerLink='#'>Commercial Vehicles

              </a>
            </li>
            <li class="nohover" (click)="clickedTwo($event)">
              <a routerLinkActive="active-link" routerLink='#'>Other Vehicles
              </a>
            </li>
            <li class="nohover" (click)="clickedTwo($event)">
              <a routerLinkActive="active-link" routerLink='#'>Spare Parts
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="show2 == 'Vehicles'">


        <div class="col-sm-3 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>Cars</b>
            </li>
            <br>
            <li>
              <a>Maruthi Suziki</a>
            </li>
            <li>
              <a>Hyundai</a>
            </li>
            <li>
              <a>Tata</a>
            </li>
            <li>
              <a>Mahindra</a>
            </li>
            <li>
              <a>Toyota</a>
            </li>
            <li>
              <a>Honda</a>
            </li>
            <li>
              <a>Chorvolet</a>
            </li>
            <li>
              <a>Ford</a>
            </li>
            <li>
              <a>Scoda</a>
            </li>
            <li>
              <a>Fiat</a>
            </li>
            <li>
              <a>Nissan</a>
            </li>
            <li>
              <a>Audi</a>
            </li>
            <li>
              <a>BMW</a>
            </li>
            <li>
              <a>Other Brands</a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="show1 == 'electronics'">

        <div class="col-sm-4 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>Electronics-Appliances</b>
            </li>
            <br>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>
                Computers & Laptops
              </a>
            </li>

            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>TV's Video-Audio

              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Hard Disks,Printer & Moniter
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>ACs
              </a>
            </li>

            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Washing Machines
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Fridges
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Computer Accessories
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Cameras & Lenses
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Kitchen & Other Appliances
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Games & Entertainment
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="show1 == 'furniture'">

        <div class="col-sm-4 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>Furniture</b>
            </li>
            <br>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>
                Sofa & Dining
              </a>
            </li>

            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Beds & Wardrobes

              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Home Decor & Garden
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Other Household items
              </a>
            </li>

            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Kids Furniture
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div *ngIf="show1 == 'jobs'">

        <div class="col-sm-4 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>Jobs</b>
            </li>
            <br>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>
                Data entry
              </a>
            </li>

            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>BPO & Telecaller

              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Operator & Technician
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Sales & Marketing
              </a>
            </li>

            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Cook
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Driver
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>IT Engineer & Developer
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Designer
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div *ngIf="show1 == 'mobiles'">

        <div class="col-sm-4 sidebar">

          <ul class="nav nav-sidebar">
            <li>
              <b>Mobiles</b>
            </li>
            <br>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#' (click)="clicked('phones')">
                Mobile Phones
                <span> > </span>
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#' (click)="clicked('tablets')">
                Tablets
                <span> > </span>
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#' (click)="clicked('accessories')">
                Accessories
                <span> > </span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="show2 == 'phones'">


        <div class="col-sm-3 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>Mobile Phones</b>
            </li>
            <br>
            <li>
              <a>Samsung</a>
            </li>
            <li>
              <a>iPhone</a>
            </li>
            <li>
              <a>Micromax</a>
            </li>
            <li>
              <a>Nokia</a>
            </li>
            <li>
              <a>Sony</a>
            </li>
            <li>
              <a>Mi</a>
            </li>
            <li>
              <a>HTC</a>
            </li>
            <li>
              <a>Lenovo</a>
            </li>
            <li>
              <a>Gionee</a>
            </li>
            <li>
              <a>Motorola</a>
            </li>
            <li>
              <a>Oppo</a>
            </li>
            <li>
              <a>Vivo</a>
            </li>
            <li>
              <a>Lenovo</a>
            </li>
            <li>
              <a>Intex</a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="show2 == 'tablets'">


        <div class="col-sm-3 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>Tablets</b>
            </li>
            <br>
            <li>
              <a>Samsung</a>
            </li>
            <li>
              <a>iPads</a>
            </li>
            <li>
              <a>Other Tablets</a>
            </li>

          </ul>
        </div>
      </div>
      <div *ngIf="show2 == 'accessories'">


        <div class="col-sm-3 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>Accessories</b>
            </li>
            <br>
            <li>
              <a>Mobile</a>
            </li>
            <li>
              <a>Tablets</a>
            </li>

          </ul>
        </div>
      </div>

      <div *ngIf="show1 == 'bikes'">

        <div class="col-sm-4 sidebar">

          <ul class="nav nav-sidebar">
            <li>
              <b>Bikes</b>
            </li>
            <br>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#' (click)="clicked('motor')">
                Motorcycles
                <span> > </span>
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#' (click)="clicked('Scootres')">
                Scootres
                <span> > </span>
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#' (click)="clicked('bicycles')">
                Bicycles
                <span> > </span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="show2 == 'motor'">


        <div class="col-sm-3 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>Motorcycles</b>
            </li>
            <br>
            <li>
              <a>Bajaj</a>
            </li>
            <li>
              <a>Hero Honda</a>
            </li>
            <li>
              <a>Yamaha</a>
            </li>
            <li>
              <a>Royal Enfield</a>
            </li>
            <li>
              <a>Honda</a>
            </li>
            <li>
              <a>Hero</a>
            </li>
            <li>
              <a>TVS</a>
            </li>
            <li>
              <a>Suzuki</a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="show2 == 'Scootres'">


        <div class="col-sm-3 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>Scootres</b>
            </li>
            <br>
            <li>
              <a>Honda</a>
            </li>
            <li>
              <a>TVS</a>
            </li>
            <li>
              <a>Mahindra</a>
            </li>
            <li>
              <a>Bajaj</a>
            </li>

            <li>
              <a>Hero</a>
            </li>

            <li>
              <a>Suzuki</a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="show2 == 'bicycles'">


        <div class="col-sm-3 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>Bicycles</b>
            </li>
            <br>
            <li>
              <a>Hero</a>
            </li>
            <li>
              <a>Hercules</a>
            </li>
            <li>
              <a>Other Brands</a>
            </li>

          </ul>
        </div>
      </div>




      <div *ngIf="show1 == 'books'">

        <div class="col-sm-4 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>Books, Sports & Hobbies</b>
            </li>
            <br>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>
                Books
              </a>
            </li>

            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Musical Instruments

              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Sports Equipment
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Gym & Fitness
              </a>
            </li>

            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Other Hobbies
              </a>
            </li>


          </ul>
        </div>
      </div>

      <div *ngIf="show1 == 'fashion'">

        <div class="col-sm-4 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>Fashion</b>
            </li>
            <br>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>
                Men
              </a>
            </li>

            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Women

              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Kids
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div *ngIf="show1 == 'pets'">

        <div class="col-sm-4 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>Pets</b>
            </li>
            <br>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>
                Fishes & Aquarium
              </a>
            </li>

            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Dogs

              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Othes Pets
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div *ngIf="show1 == 'services'">

        <div class="col-sm-4 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>Services</b>
            </li>
            <br>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>
                Driver & Taxi
              </a>
            </li>

            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Education & Classes

              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Electronics & Computers
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Health & Beauty
              </a>
            </li>
            <li class="nohover">
              <a routerLinkActive="active-link" routerLink='#'>Other Services
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div *ngIf="show2 == 'Sale'">


        <div class="col-sm-3 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>For Sale</b>
            </li>
            <br>
            <li>
              <a>Apartments</a>
            </li>
            <li>
              <a>Houses & Villas</a>
            </li>
            <li>
              <a>Builder Floors</a>
            </li>
            <li>
              <a>Land & Plots</a>
            </li>
            <li>
              <a>Shops & Offices</a>
            </li>
            <li>
              <a>Farm Houses</a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="show2 == 'Rent'">


        <div class="col-sm-3 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">

            <li>
              <b>For Rent</b>
            </li>
            <br>
            <li>
              <a>Apartments</a>
            </li>
            <li>
              <a>Houses & Villas</a>
            </li>
            <li>
              <a>Builder Floors</a>
            </li>
            <li>
              <a>PG & Roommates</a>
            </li>
            <li>
              <a>Land & Plots</a>
            </li>
            <li>
              <a>Shops & Offices</a>
            </li>
            <li>
              <a>Guest Houses</a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="show2 == 'Projects'">


        <div class="col-sm-3 sidebar" (click)="clickedTwo($event)">

          <ul class="nav nav-sidebar">
            <li>
              <b>New Projects</b>
            </li>
            <br>
            <li>
              <a>Apartments</a>
            </li>
            <li>
              <a>Houses & Villas</a>
            </li>
            <li>
              <a>Builder Floors</a>
            </li>
            <li>
              <a>Land & Plots</a>
            </li>
            <li>
              <a>Shops & Offices</a>
            </li>
            <li>
              <a>Farm Houses</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</ng-template>

