body{
    margin: 0;
    padding: 0;
 }
 .outline{
    border: 1px solid rgba(158, 158, 158, 0.16);
    margin-top: 30px;
    height: 600px;
    
 }
 .background{
    background-color: rgb(209, 223, 228, 0.4);
    height: 600px;
    
 }
 .sidebar{
    background-color: rgba(158, 158, 158, 0.05);
    height: 600px;
 }

 ul>li>a:hover{
     color: red;
 }
 .nav>li>a {
    padding: 12px 15px;
 }

 

 .main{
    padding: 15px;
 }
 .left{
    padding-left: 0px;
 }
 /* li:hover{
    width: 100%;
    background-color: white;
    border: 1px solid white;
 } */
 .list>li{
    list-style: none;
    
    padding-top: 25px;
 }
 
 .list>li>a:hover{
    text-decoration: none;
    color: red;
   
 
 }
 .nohover a:hover { 
     background-color: transparent;
     }

 .line{
    border-bottom: 1px solid rgb(50, 110, 130);
    padding-bottom: 5px;
 }
 .li{
    padding-top: 20px;
 }
 .anchor:hover{
    text-decoration: none;
    color: red;
 }
 .panel-default {
    border-color:white;
    background-color: #FBFAAE;
 }
 .top{
    margin-top: 18px;
 }
 .size{
    font-size: 22px;
    margin: 0;
 }
 .box:hover{
    border: 2px solid rgb(122, 108, 201);
    padding: 8px;
    border-radius: 5px;
    
    
 }
 a:hover{
    text-decoration: none;
 }
