<div class="panel panel-default">
  <div class="panel-body">

    <a routerLink='/india' class="anchor">
      <img src="./assets/images/jobs/map-marker.svg" width="2%" style="padding-bottom: 7px">
      <b style="font-size: 18px">All India</b>
      <small>(Select your city to see local ads)</small>
    </a>
  </div>
</div>
<div class="col-sm-12 line">
  <img src="./assets/images/furniture/furniture.png" class="col-sm-2">
  <span class="col-sm-10">
    <p class="size">Furniture</p>
    1,78,016 Ads
    <br>
    <a routerLink=''>View all Ads >></a>
  </span>
</div>
<div class="col-sm-12" style="padding-top: 30px">
  <div class="col-sm-2 box text-center">


    <a routerLink=''>
      <img src="./assets/images/furniture/sofa.png">
      <br> Sofa & Dining
    </a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/furniture/beds.png">
      <br> Beds &
      <br>Wardrobes</a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/furniture/home.png">
      <br> Home Deckor &
      <br>Garden</a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/furniture/spoons.png">
      <br> Other Household &
      <br>Items</a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/furniture/kids.png">
      <br> Kids Furniture
    </a>
  </div>
</div>