<div class="panel panel-default">
  <div class="panel-body">

    <a routerLink='/india' class="anchor">
      <img src="./assets/images/jobs/map-marker.svg" width="2%" style="padding-bottom: 7px">
      <b style="font-size: 18px">All India</b>
      <small>(Select your city to see local ads)</small>
    </a>
  </div>
</div>
<div class="col-sm-12 line">
  <img src="./assets/images/jobs/jobs.png" class="col-sm-2">
  <span class="col-sm-10">
    <p class="size">Jobs</p>
    1,78,016 Ads
    <br>
    <a routerLink=''>View all Ads >></a>
  </span>
</div>
<div class="col-sm-12" style="padding-top: 30px">
  <div class="col-sm-2 box text-center">


    <a routerLink=''>
      <img src="./assets/images/jobs/dataentry.png">
      <br> Data entry &
      <br>Bank office</a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/jobs/bpo.png">
      <br> BPO &
      <br>Telecaller</a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/jobs/oparator.png">
      <br> Operator &
      <br>Technician</a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/jobs/sales.png">
      <br> Sales &
      <br>Marketing</a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/jobs/cook.png">
      <br> Cook
    </a>
  </div>
</div>
<div class="col-sm-12" style="padding-top: 30px">
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/jobs/driver.png">
      <br> Driver
    </a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/jobs/hotel.png">
      <br> Hotel & Travel
      <br>Executive</a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/jobs/itengg.png">
      <br> IT Engineer&
      <br>Developer</a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/jobs/designer.png">
      <br> Designer
    </a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/jobs/officeasst.png">
      <br> Office
      <br>Assistant
    </a>
  </div>
</div>
<div class="col-sm-12" style="padding-top: 30px">
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/jobs/recetionist.png">
      <br> Receptionist
      <br> Front office</a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/jobs/truck.png">
      <br> Delivery &
      <br>Collection</a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/jobs/accounts.png">
      <br> Accountant
    </a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/jobs/teacher.png">
      <br> Teacher
    </a>
  </div>
  <div class="col-sm-2 box text-center">

    <a routerLink=''>
      <img src="./assets/images/jobs/others.png">
      <br> Others
    </a>
  </div>
</div>