<div class="container">
  <div class="col-sm-12">
    <div class="col-sm-6">
  <h4>Your OLX Ads</h4>
  <p>You can manage your Active & Inactive Ads here</p>
</div>
<div class="col-sm-3 col-sm-offset-3 pull-left account">
  Account balance
</div>
</div>
<br>

 <div>
    <tabset>
      <tab heading="Ads" id="tab1" class="border">
        <div class="center">
          <!-- <img src="./assets/images/ads.png"><br> -->
            <a type="button" class="btn btn-primary btn-lg" routerLink="/submit-ad"  routerLinkActive="submit-btn">
              <span class="plus">+ </span>
              Submit a Free Ad</a>
        </div>
      </tab>
      <tab heading="Messages" class="border">
        <div class="center">
          <img src="./assets/images/messages.png">
        </div>
      </tab>
      <tab heading="Payments" class="border">Basic content 2</tab>
      <tab heading="Settings" class="border">Basic content 2</tab>
    </tabset>
  </div>
</div>