.border{
    height: 600px;
    border-bottom: 1px solid lightblue;
    border-right: 1px solid lightblue;
    border-left: 1px solid lightblue;
    position: relative;
}
.center{
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.plus{
    height: 5px;
}
.account{
    border: 1px solid lightblue;
    border-radius: 5px;
    padding-bottom: 55px;
    padding-top: 10px;
    margin-top: 22px;
}
.navbar-inverse {
    background-color: white;
    border-color: white;
    border-bottom: 1px solid lightblue;
}
.navbar-nav>a {
    color:blue;
    background-color:white;
}
.navbar-inverse .navbar-nav>li>a{
    color: blue;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: red;
}
.navbar-right{
    margin-right: 0px;
    margin-top: 15px;
}
.panel-default1 {
    margin-top: 0px;
    margin: 10px;
    background-color: white;
}
.form-control{
    width: 25%;
}
.save{
    font-size: 18px;
    padding: 3px 22px;
}
.delete{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
.cntrycod {
    z-index: 1000;
    position: absolute;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
}

