
.card-container.card {
    max-width: 500px;
    padding: 40px 40px;
}

.card {
    background-color: #F7F7F7;
    top: 80px;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 5px;

}
.btn-facebook{
    margin-top:20px;
    background-color: #4e6cab;
    color: #fff;
    margin-right: 20px;
    margin-left: 30px;
    
    }
    .btn-google{
        margin-top:20px;
        background-color: #dd4b39;
        color:#fff;
    }
    
a{
    text-decoration: none;
}
