<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container fieldset">
  <div class="row">

    <div class="col-xs-12 matter">
      <div class="col-xs-4">
        <i>select your city and view local Ads</i>
      </div>
      <div class="col-xs-4">
        <i>Browse categories</i>
      </div>
      <div class="col-xs-4">
        <i>search for a specific product</i>
      </div>
    </div>
    <section class="col-xs-12">
      <div class="col-xs-4">
        <select class="form-control">...</select>
      </div>
      <div class="col-xs-4">
        <select class="form-control">
          <option></option>
        </select>
      </div>
      <div class="col-xs-4">
        <input type="text" class="form-control" placeholder="e.g swift samsung galaxy">
      </div>
    </section>

  </div>
</div>
<div class="container filtering">
  <div class="row">
    <div class="col-xs-12 filter">
      <div class="col-xs-3">
        <i>Brand name</i>
        <br>
        <select class="form-control">...</select>
      </div>
      <div class="col-xs-3">
        <i>Model</i>
        <br>
        <select class="form-control">...</select>
      </div>
      <div class="col-xs-3">
        <div class="col-xs-6 pricefrom">
          <i>price from</i>
          <br>

          <select class="form-control">...</select>
        </div>
        <div class="col-xs-6 priceto">
          <i>price to</i>
          <br>

          <select class="form-control">...</select>
        </div>

      </div>
      <div class="col-xs-3">
        <div class="col-xs-6 pricefrom">
          <i>year from</i>
          <br>

          <select class="form-control">...</select>
        </div>
        <div class="col-xs-6 priceto">
          <i>year to</i>
          <br>

          <select class="form-control">...</select>
        </div>
      </div>
    </div>
    <div class="col-xs-12 filter">
      <div class="col-xs-3">

        <div class="col-xs-6 pricefrom">
          <i>KM from</i>
          <br>

          <select class="form-control">...</select>
        </div>
        <div class="col-xs-6 priceto">
          <i>KM to</i>
          <br>

          <select class="form-control">...</select>
        </div>
      </div>
      <div class="col-xs-3">
        <i>Fuel type</i>
        <select class="form-control">...</select>
      </div>

    </div>

  </div>
</div>
<div class="container ads">
  <div class="row">
    <div class='col-xs-12 tabs-filter'>
      <div class="col-xs-6 tabs-part">
        <div class="tabs-wrapper">
          <tabset>
            <tab heading="Ads with photos" id="tab1">

            </tab>
            <tab heading="All Ads">

            </tab>
          </tabset>
        </div>

      </div>
      <div class="col-xs-6 gridlist text-right">
        <span class="list1">
          <i class="fas fa-th-list"></i>
        </span>
        <span class="list1">
          <i class="fas fa-th"></i>
        </span>
        <span class="list1">
          <i class="fas fa-desktop"></i>
        </span>
        <span>Sort by:</span>
        <div class="btn-group" dropdown>
          <button id="button-menu-dividers" dropdownToggle type="button" class="btn-color btn btn-default dropdown-toggle" aria-controls="dropdown-menu-dividers">
            Most Recent
            <span class="caret"></span>
          </button>
          <ul id="dropdown-menu-dividers" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-menu-dividers">
            <li role="menuitem">
              <a class="dropdown-item" href="#">Most Recent</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">price: Rs Low to High</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">price: Rs High to Low</a>
            </li>

          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h4 class="text-left">Featured Ads</h4>
    <div class="col-xs-12  add-border" *ngFor="let index of carsinfo">
      <div class="col-xs-2">
        <img src="{{ index.images }}">
      </div>
      <div class="col-xs-8 add-title">
        {{ index.title}}
        <br>
        <p class="add-model"> cars >> {{ index.model }}</p>
        <b class="add-address">{{ index.address }}</b>

      </div>
      <div class="col-xs-2 add-price text-right">
        <b> {{ index.price | currency:'INR' }}</b>
      </div>
    </div>
  </div>
</div>