/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    padding: 0px;
}
.active-link{
    background-color:lightyellow;
    border: 1px solid rgba(158, 158, 158, 0.13);
    border-radius: 5px;
}

.submit-btn{
    display: none;
}
.hide{
    display: none;
}
.panel-default {
    border-color:white;
    background-color: #FBFAAE;
    margin-top: 10px;
    border-radius: 8px;
}
/* .box:hover{
    border: 2px solid rgb(122, 108, 201);
    padding: 8px;
    border-radius: 5px;
    
    
} */
a:hover{
    text-decoration: none;
}

.tabs-wrapper .nav.nav-tabs{
    border-bottom: 1px solid transparent!important;
}

.panel-body {
    padding: 15px;
    
}

.panel-heading {
    padding: 0px;
}
.btn{
    font-size: 15px;
}