/* You can add global styles to this file, and also import other style files */
.active-link{
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
}

.submit-btn{
    display: none;
}
.panel-default {
    border-color:white;
    background-color: #FBFAAE;
    margin-top: 10px;
}