/* You can add global styles to this file, and also import other style files */
.active-link{
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
}

.submit-btn{
    display: none;
}
<<<<<<< HEAD
.panel-default {
    border-color:white;
    background-color: #FBFAAE;
    margin-top: 10px;
=======
a{
text-decoration: none !important;
>>>>>>> ddab15d53feae071d2a8be1572bf074a13bb1bc9
}