.setting-sections{
    padding: 0px;
    margin:  0px auto;
 }
 
 .formdetails{
    background-color: rgba(49, 112, 143, 0.32);padding: 20px 0px; border-radius: 8px;
 }
 .input-type{
    padding: 5px 5px 5px 10px ;border-radius: 5px; margin-left: 5px;
 }
 .input-add-search{
    width: 65%; padding: 5px 5px 5px 10px ;border-radius: 5px;margin-left: 5px;
 }
 .search-button{
    height: 35px;
    width: 10%;
    background-color: blue;
    margin-left: 10px;
    padding: 0px;
    border: 2px solid white;
 }
 .banner-image{
    background-color: black; height: 300px;margin:10px 0px; padding: 0px;
 }
 table{
    border-collapse: collapse;
 }
 .setting-rows{
    width: 24%;border-color: #999999; border-left:white; border-top: white; padding: 10px 5px;
 }
 .setting-rows a{
    text-decoration: none;
 }
 .setting-borders{
    text-align: center;  padding:20px 0px;
 
 }
 .setting-borders td{
    vertical-align: top;
 }
 
 .setgif{
    /* float: right ! important; */
    text-align: right;
    padding: 10px  15px 0px 5px;
 }
 .icongrid>tr>td:nth-child(1){
    border-top: none; border-left: none; border-bottom: #999999; border-right: #999999;
 }
 
 
