<div class="container">
  <div class="row">
    <section class="col-xs-12 setting-sections">
      <div class="col-xs-12   formdetails">
        <input type="text" placeholder="All India" class="input-type" (click)="displayCities()" [ngModel]="textfield">
        <a class="deleting-cross" *ngIf="textfield" (click)="removeSelectedCity()">X</a>
        <i class="fa fa-map-marker-alt new-navigate"></i>
        <div class="col-xs-10 noindex" *ngIf="locationSearch">
          <i class="fa fa-caret-up"></i>
          <div class="col-xs-5 title">
            <input type="search" placeholder="Type region or city" class="region-set" [(ngModel)]="search">
            <div class="filter-search" *ngIf="search">
              <div *ngFor="let g of country | filter:search" class="filter-borders">
                <span (click)="cities($event)"> {{g}}</span>
              </div>
            </div>

            <i class="fa fa-map-marker-alt"></i>
          </div>
          <div class="col-sm-6 deletebutton" (click)="deleteSelectedcities()">
            <span class="removeButton">X</span>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-12 popular-cities">
            <p>Popular cities:</p>

            <div class="list full  list-display">
              <ul class="col-sm-2 popularcities-margin" *ngFor="let item of citiesdata">
                <li>
                  <a href="#" class="link regionSelectA2" data-id="58677" data-graytext="Gujarat">
                    <span (click)="cities($event)">{{item}}</span>
                  </a>
                </li>

              </ul>

              <div class="clearfix"></div>
            </div>

            <div class="viewport col-sm-12">

              <div class="col-sm-3 allindiacities" *ngFor="let i of statesdata">
                <ul class="slect-child">

                  <li>
                    <a id="regionlink7598" href="#" [ngClass]="{'allindiacolorchange':i=='All India'}">
                      <span (click)="cities($event)">{{i}}</span>
                    </a>
                  </li>

                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <input type="text" placeholder="" class="input-add-search">
        <button type="button" class="btn btn-primary btn-lg  search-button">Search</button>
      </div>
    </section>

    <div class="col-xs-12  banner-image">
      <div class="container">
        <div id="myCarousel" class="carousel slide  col-sm-6" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner carousel-set">

            <div class="item active">
              <img src="assets/images/olx8.jpg" alt="Los Angeles" style="width:100%; height:300px">
              <div class="carousel-caption">
                <h3>We there for all</h3>
                <p>olx is always have so much of Products!</p>
              </div>
            </div>

            <div class="item">
              <img src="assets/images/olx7.jpeg" alt="Chicago" style="width:100%; height:300px">
              <div class="carousel-caption">
                <h3>We india</h3>
                <p>Thank you, olx!</p>
              </div>
            </div>

            <div class="item">
              <img src="assets/images/olx9.jpg" alt="New York" style="width:100%; height:300px">
              <div class="carousel-caption">
                <h3>new add can give free advertise</h3>
                <p>We love the Big Add!</p>
              </div>
            </div>

            <div class="item">
              <div class="col-sm-12  video-set">
                <!-- <iframe width="100%" height="300px" autoplay muted loop src="https://www.youtube.com/embed/XEHjCYQCS4k?autoplay=1" frameborder="0" allow="autoplay; encrypted-media"
                  allowfullscreen></iframe> -->
                <video src="assets/time3.webm" autoplay="1" type="video/mp4" width="100%" height="300px" controls loop></video>

              </div>
            </div>

          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="col-sm-6">
          <video src="assets/time2.mp4" autoplay="repeat" controls loop type="video/mp4" width="100%" height="300px"></video>
        </div>


      </div>

      <!-- Left and right controls -->

    </div>

    <div class="col-xs-12">
      <div class="col-xs-6  setting-borders">
        <table width="100%" border="0" class="icongrid">
          <tbody>
            <tr>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink='/categories/properties'>
                  <div>
                    <img src="assets/images/home.png" width="50%" alt="home-image">
                  </div>
                  <div>
                    <span>Properties</span>
                  </div>
                </a>

              </td>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/cars">
                  <div>
                    <img src="assets/images/car.png" width="50%" alt="car-image">
                  </div>
                  <div>
                    <span>Cars</span>
                  </div>
                </a>
              </td>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/electronics">
                  <div>
                    <img src="assets/images/electronics.png" width="50%" alt="electronics-image">
                  </div>
                  <div>
                    <span>Electronics & Applicances</span>
                  </div>
                </a>
              </td>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/furniture">
                  <div>
                    <img src="assets/images/furniture.png" width="50%" alt="furniture-image">
                  </div>
                  <div>
                    <span>Furniture</span>
                  </div>
                </a>
              </td>
            </tr>


            <tr>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/jobs">
                  <div>
                    <img src="assets/images/jobs.png" width="50%" alt="job-image">
                  </div>
                  <div>
                    <span>Jobs</span>
                  </div>
                </a>
              </td>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/mobiles">
                  <div>
                    <img src="assets/images/mobiles.png" width="50%" alt="mobiles-image">
                  </div>
                  <div>
                    <span>Mobiles</span>
                  </div>
                </a>
              </td>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/bikes">
                  <div>
                    <img src="assets/images/bikes.png" width="50%" alt="bikes-image">
                  </div>
                  <div>
                    <span>Bikes</span>
                  </div>
                </a>
              </td>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/books">
                  <div>
                    <img src="assets/images/books-sports.png" width="50%" alt="books-image">
                  </div>
                  <div>
                    <span>Books,Sports & Hobbies</span>
                  </div>
                </a>
              </td>
            </tr>


            <tr>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/fashion">
                  <div>
                    <img src="assets/images/fashion.png" width="50%" alt="fashion-image">
                  </div>
                  <div>
                    <span>Fashion</span>
                  </div>
                </a>
              </td>
              <td class="setting-rows">
                <a routerLinkActive="active-link" routerLink="/categories/pets">
                  <div>
                    <img src="assets/images/pets.png" width="50%" alt="pets-image">
                  </div>
                  <div>
                    <span>Pets</span>
                  </div>
                </a>
              </td>
              <td class="setting-rows">
                <a routerLink="/categories/services">
                  <div>
                    <img src="assets/images/services.png" width="50%" alt="services-image">
                  </div>
                  <div>
                    <span>Services</span>
                  </div>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-6   setgif" (click)="myclick()">
        <a routerLink="">
          <img src="{{display}}" width="70%">
        </a>
      </div>
      <div class="colo-xs-6  setgif">
        <img src="assets/images/olx2.gif" width="40%" height="100px">
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>